/************************************ Base styles *****************************************/
* {
	box-sizing: border-box; 
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
  }
  
  p {
	  margin-top: 30px;
	  text-align: justify;
  }
  
  h1 {
	  text-align: center;
	  color: brown;
  }
  
  /************************************ Simple Response *****************************************/
  article {
	  width: 100%;
  }
  
  /************************************ Large devices only *****************************************/
  @media (min-width: 992px) {
	  div {
		  float: left;
		  border: 3px solid black;
		  background-color: grey;
		  margin-left: 12.5px;
		  margin-right: 10px;
		  margin-top: 10px;
		  margin-bottom: 10px;
		  padding: 8px;
		  position: relative;
	  }
	  .col-log-1 {
		  width: 31%;
	  }
	  .col-log-2 {
		  width: 31%;
	  }
	  .col-log-3 {
		  width: 31%;
	  }
	  .p1 {
		  width: 100px;
		  height: 27px;
		  background-color: hotpink;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
  
	  }
	  .p2 {
		  width: 100px;
		  height: 27px;
		  background-color: brown;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
		  
	  }
	  .p3 {
		  width: 100px;
		  height: 27px;
		  background-color: yellowgreen;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
		  
	  }
  }
  
  /************************************ Medium devices only *****************************************/
  @media (min-width: 768px) and (max-width: 991px) {
	  div {
		  float: left;
		  border: 3px solid black;
		  background-color: grey;
		  margin-left: 10px;
		  margin-right: 10px;
		  margin-top: 10px;
		  margin-bottom: 10px;
		  padding: 8px;
		  position: relative;
	  }
	  .col-log-1 {
		  width: 47%;
	  }
	  .col-log-2 {
		  width: 47%;
	  }
	  .col-log-3 {
		  width: 96.5%;
	  }
	  .p1 {
		  width: 100px;
		  height: 27px;
		  background-color: hotpink;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
  
	  }
	  .p2 {
		  width: 100px;
		  height: 27px;
		  background-color: brown;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
		  
	  }
	  .p3 {
		  width: 100px;
		  height: 27px;
		  background-color: yellowgreen;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
		  
	  }
  }
  
  /************************************ Small devices only *****************************************/
  @media (max-width: 767px) {
	  div {
		  float: left;
		  border: 3px solid black;
		  background-color: grey;
		  margin-left: 10px;
		  margin-right: 10px;
		  margin-top: 10px;
		  margin-bottom: 10px;
		  padding: 8px;
		  position: relative;
	  }
	  .col-log-1 {
		  width: 96.5%;
		  
	  }
	  .col-log-2 {
		  width: 96.5%;
	  }
	  .col-log-3 {
		  width: 96.5%;
	  }
	  .p1 {
		  width: 100px;
		  height: 27px;
		  background-color: hotpink;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
  
	  }
	  .p2 {
		  width: 100px;
		  height: 27px;
		  background-color: brown;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
		  
	  }
	  .p3 {
		  width: 100px;
		  height: 27px;
		  background-color: yellowgreen;
		  border-left: 3px solid black;
		  border-bottom: 3px solid black;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  text-align: center;
		  margin: 0px;
		  font-size: 1.25em;
		  
	  }
  }
  